fastapi
uvicorn
python-dotenv
requests
google-generativeai
PyPDF2
python-multipart
langchain
sentence-transformers
faiss-cpu
beautifulsoup4
youtube-transcript-api
google-api-python-client
motor
pymongo
passlib
python-jose
bcrypt
thefuzz

