fastapi
uvicorn[standard]
python-dotenv
python-multipart
aiofiles
requests
PyMuPDF
firebase-admin
langchain
langchain_community
faiss-cpu
sentence-transformers
numpy
pydantic
python-jose[cryptography]
motor
pymongo